version: 2
updates:
  - package-ecosystem: "gomod"
    directories:
      - "/"
      - "/examples/*"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "[gomod] "
    groups:
      go-dependencies:
        patterns: ["*"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "[actions] "
    groups:
      all-actions:
        patterns: ["*"]
